<h1> <%= @boat.boat_year, @boat.boat_make, @boat.boat_model %> </h1>



<!-- t.string   "boat_year",    null: false
t.string   "boat_make",    null: false
t.string   "boat_model",   null: false
t.string   "engine_year",  null: false
t.string   "engine_make",  null: false
t.string   "engine_model", null: false
t.string   "engine_hours", null: false
t.string   "length",       null: false
t.string   "photo",        null: false
t.string   "video",        null: false
t.text     "description" -->
